* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    align-items: center;
    background-color: aqua;
    flex-grow: 1;
    padding: 5rem;
}

.table {
    max-width: 1000px;
    flex-basis: 100%;
    background-color: aquamarine;
    aspect-ratio: 1/1;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.square {
    aspect-ratio: 1/1;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clicked {
    background-color: brown;
}

.main-footer {
    padding: 1rem;
}